body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.light-mode body {
    background-color: #fafafa;
    color: #000;
}

.dark-mode body {
    background-color: #303030;
    color: #fff;
}

.card {
    height: 100%;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.card:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
}

.dark-mode .card {
    background-color: #424242;
    color: #fff;
}

.dark-mode .card:hover {
    background-color: #505050;
}
