/* Import Raleway font from Google Fonts with medium weight */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.light-mode body {
    background-color: #fafafa;
    color: #494949;
}

.dark-mode body {
    background-color: #121212;
    color: #fff;
}

.card {
    height: 100%;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.card:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
}

.dark-mode .card {
    background-color: #424242;
    color: #fff;
}

.dark-mode .card:hover {
    background-color: #505050;
}

.MuiDrawer-paper {
    overflow: hidden;
}

.menu-item {
    height: 5vh;
    /* Adjust the height as needed */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 16px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-family: 'Raleway', sans-serif;
    /* Apply Raleway font */
}

.menu-item:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
}

.dark-mode .menu-item {
    color: #fff;
}

.dark-mode .menu-item:hover {
    background-color: #505050;
}

.menu-item-text {
    transition: opacity 0.3s ease-in, transform 0.3s ease-in-out;
    opacity: 0;
    transform: translateX(-20px);
    font-family: 'Raleway', sans-serif;
    /* Apply Raleway font */
}

.drawer-open .menu-item-text {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.3s;
    /* Delay to match the drawer transition */
}

.drawer-closed .menu-item-text {
    opacity: 0;
    transform: translateX(-20px);
    transition-delay: 0s;
}
